<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="julian.lozano.com.projectdelacruzlozano">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ContactActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SlotActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".VacantActivity" />
        <activity android:name=".OccupiedActivity" />
        <activity android:name=".VacateConfirmActivity" />
        <activity android:name=".SendEmail"></activity>
    </application>

</manifest>